<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="azuwis.webtoolbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="azuwis.webtoolbox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Youku Play -->
        <activity
            android:name="azuwis.webtoolbox.YoukuHdPlayActivity"
            android:label="@string/title_activity_play_hd" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="v.youku.com"
                    android:pathPrefix="/v_show/id_" />
            </intent-filter>
        </activity>
        <activity
            android:name="azuwis.webtoolbox.YoukuMp4PlayActivity"
            android:label="@string/title_activity_play" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="v.youku.com"
                    android:pathPrefix="/v_show/id_" />
            </intent-filter>
        </activity>

        <!-- Youku Download -->
        <activity
            android:name="azuwis.webtoolbox.YoukuHdDownloadActivity"
            android:label="@string/title_activity_download_hd" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="v.youku.com"
                    android:pathPrefix="/v_show/id_" />
            </intent-filter>
        </activity>
        <activity
            android:name="azuwis.webtoolbox.YoukuMp4DownloadActivity"
            android:label="@string/title_activity_download" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="v.youku.com"
                    android:pathPrefix="/v_show/id_" />
            </intent-filter>
        </activity>

        <!-- www.html5video.info -->
        <activity
            android:name="azuwis.webtoolbox.Html5VideoActivity"
            android:label="@string/html5_video" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="v.youku.com"
                    android:pathPrefix="/v_show/id_"/>
                <data
                    android:scheme="http"
                    android:host="www.tudou.com"
                    android:pathPrefix="/programs/view/" />
                <data
                    android:scheme="http"
                    android:host="tv.sohu.com"
                    android:pathPattern="/.*/n.*.shtml.*" />
                <data
                    android:scheme="http"
                    android:host="m.tv.sohu.com"
                    android:pathPattern="/.*/n.*.shtml.*" />
                <data
                    android:scheme="http"
                    android:host="v.ku6.com"
                    android:pathPattern="/show/" />
                <data
                    android:scheme="http"
                    android:host="m.ku6.com"
                    android:pathPattern="/show/" />
            </intent-filter>
        </activity>
    </application>

</manifest>
